---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Pillars from '../components/Pillars.astro';
---

<Layout title="StayJustin | West Covina Tech Support & Local News">
	<main>
		<Hero />
		<Pillars />
	</main>
</Layout>
