<header class="topbar">
  <div class="container nav">
    <a href="/" class="brand-link">
      <div class="brand-title">StayJustin</div>
      <div class="brand-sub">
        West Covina news • city hall • new businesses • events
      </div>
    </a>

    <nav class="nav-links">
      <a href="/west-covina-news/">News</a>
      <a href="/city-hall/">City Hall</a>
      <a href="/new-businesses/">New Businesses</a>
      <a href="/development/">Development</a>
      <a href="/traffic-road-closures/">Traffic</a>
      <a href="/events/">Events</a>
      <a class="btn btn-primary" href="https://stayjustin.substack.com" target="_blank">
        Subscribe
      </a>
    </nav>
  </div>
</header>
